@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

Leia mais em: <a href="https://www.unimed.coop.br/site/web/chapeco/politica-de-privacidade-unimed-chapeco" target="_blank">Unimed Chapecó</a>

