*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b1d34b;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}

.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}

header{
    margin: 0;
    padding: 0;
    background-color: #b1d34b;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

h1{
    padding: 0 20px;
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.tabela{
    margin-top: 70px;
    align-items: center;
}

.tabelas{
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

table th, td{
    border: solid black 1px;
    padding: 15px;
    align-items: center;

}

